/*-----Stylesheet for Project Name-----*/
/* 
font-family: 'Roboto Mono', monospace;
font-family: 'Lato', sans-serif;
 */
 /* =========================================
              Website Resets
============================================ */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
*::-moz-focus-inner {
  border: 0;
}

*:focus {
  outline: none;
}
/*
font-family: 'Roboto Mono', monospace;
font-family: 'Lato', sans-serif;
 */
body {
  font-family: 'Roboto Mono', monospace;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}